{% extends "layout.twig" %}

{% block navbar %}
{% include "admin/partials/navbar.twig" %}
{% endblock %}

{% block content %}

    <!-- Begin page content -->
    <div class="container">

      {% include "admin/alert/flash.twig" %}

      {% include "admin/index/presentation.twig" %}

    </div> <!-- /container -->

    {% include "admin/alert/dialogbox.twig" %}


{% endblock %}

{% block js %}
    <script src="/js/app.js"></script>
{% endblock %}
