{% extends "layout.twig" %}

{% block navbar %}
{% include "admin/partials/navbar.twig" %}
{% endblock %}

{% block content %}

    <!-- Begin page content -->
    <div class="container">

      {% include "admin/alert/flash.twig" %}

      <div class="row">
        <div class="alert alert-info">
          <p>Markdown file with regex '/^[a-zA-Z0-9_]*./ only listed.</p>
        </div>
      </div>

      {% include "admin/index/presentation.twig" %}

    </div> <!-- /container -->

    {% include "admin/alert/dialogbox.twig" %}


{% endblock %}

{% block js %}
    <script src="/js/app.js"></script>
{% endblock %}
