{% extends "layout.twig" %}

{% block js %}
  <script src="/js/app.js"></script>
{% endblock %}

{% block navbar %}
{% include "admin/partials/controls.twig" %}
{% endblock %}

{% block content %}

    <!-- Begin page content -->
    <div class="container" id="container">
    </div> <!-- /container -->


{% endblock %}
