      {% if error.error == true %}
      <div class="row">
        <div class="alert alert-danger">
          <p>{{ error.message }}</p>
        </div>
      </div>
      {% endif %}

      {% if message  %}
      <div class="row">
        <div class="alert alert-info">
          <p>{{ message }}</p>
        </div>
      </div>
      {% endif %}

      {% if flash.message %}
      <div class="row">
        <div class="alert alert-{{ flash.error == true ? 'warning' : 'success' }}">
          <p>{{ flash.message }}</p>
        </div>
      </div>
      {% endif %}
