{% extends "layout.twig" %}

{% block js %}
  <script src="{{ app.request.basepath }}/js/script.js"></script>
{% endblock %}

{% block content %}

    <span class="label label-success pull-right" id="broadcast">On-line</span>
    <a href="javascript:window.location.reload()" class="btn btn-primary btn-xs pull-right" id="reconnect">Reconnect</a>

    <!-- Begin page content -->
    <div class="container" id="container">
      <h1>Could not establish Web Socket connection :(</h1><br>
      <h3>Try reloading the page.</h3>
      <h3>Or ask your presenter to troubleshoot.</h3>
    </div> <!-- /container -->

{% endblock %}
